.modelBackground {
    background: rgba(32, 35, 41, .8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.modelBackground span {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}